html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #222222;
}

#j-container{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.jumbotron {
    position:fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-image: url("../images/temp_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    padding-top: calc(50vh - 170px / 2);
}

#links {
    margin-top: 60px;
    height: 50px;
}

.j-items {
    
}

.name-box#name {
    font-size: 6em;
    margin-bottom: 20px;
    text-shadow: #333 1px 1px;
    font-weight: 300;
    color: #EDEDED;
}

