html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px;
  overflow-x: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align:center;
  background-color: #222222;
}

.footer > .text-muted {
  margin: 80px 0;
}

#j-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../images/temp_background.jpg");
}

.j-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.jumbotron {
    /*position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;*/
    padding-top: calc(30vh);
    text-align: center;
    background: transparent;
}

#links {
    margin-top: 60px;
    height: 50px;
}

#name {
    font-size: 6em;
    margin-bottom: 20px;
    text-shadow: #333 1px 1px;
    font-weight: 300;
    color: #EDEDED;
}

.main { 
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.row div{
    -webkit-transition:width 0.3s ease, margin 0.3s ease;
}

#index-about {
  background:url("../images/temp_bg_1.jpg");
  background-size:cover;
}

#project-1 {
  background:url("../images/temp_bg_1.jpg");
  background-size:cover;
}

#project-2 {
  background:url("../images/temp_bg_1.jpg");
  background-size:cover;
}

#experience {
  background:url("../images/temp_bg_2.jpg");
  background-size:cover;
  padding: 0px 5%;
}

@media (min-width:992px) {
    #experience {
        padding: 0px 100px;
    }
}

#summary {
    text-align:center;
}
