html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px;
  overflow-x: hidden;
}
.navbar-collapse {
    background:#5595AB; /*replace with desired color*/ 
} 

@media (min-width:768px){
    .navbar {
        background: transparent;
        border-color: transparent;
        color:white;
    }
    .navbar-collapse {
        background: transparent;
    } 
}

#j-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../images/background1.jpg");
}

.j-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.jumbotron {
    padding-top: calc(30vh);
    text-align: center;
    background: transparent;
}

#links {
    margin-top: 30px;
}

@media (min-width:768px){
    #links {
        margin-top: 60px;
    }
}

#name {
    font-size: 6em;
    margin-bottom: 20px;
    text-shadow: #333 1px 1px;
    font-weight: 300;
    color: #EDEDED;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.5;
}

.social {
    margin: 0px 10px;
    height: 30px;
    width: auto;
    vertical-align: top;
}

.social-glyph {
    margin: 0px 10px;
    font-size: 30px;
    color: white;
    top: 0px;
    line-height: 30px;
}

@media (min-width:768px){
    .social-glyph {
        margin: 0px 20px;
        font-size: 50px;
        line-height: 50px;
    }
    .social {
        margin: 0px 20px;
        height: 50px;
    }
}

.main { 
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
}

.row div{
    -webkit-transition:width 0.3s ease, margin 0.3s ease;
}

#about {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/background2.jpg");
  background-size:cover;
}

#project-1 {
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/Game.jpg");
}

#project-2 {
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/ShakeSpear.jpg");
}

#project-3 {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/terrain.jpg");
  background-size:cover;
}

#project-4 {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/Website.jpg");
  background-position: center; 
}

#experience {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/Code.jpg");
  background-size:cover;
  color:white;
  padding-left: 0px 5%; 
  padding-right: 0px 5%;
}

#summary { 
  text-align:center;
  padding-bottom: 80px;
}

.list-group-item{
  color:black;
  text-align:center;
  font-size: 20px;
}

#list-head{
  background-color:#C4C4C4;
}

/*@media (max-width:768px) {
    h1{
        font-size: 24px
    }
    h2{
        font-size: 18px    
    }
    h3{
    }
}*/

@media (min-width:1200px) {
    #about {
        padding: 120px 120px;
    }
    .project {
        padding: 120px 30px;
    }
    #experience {
        padding: 80px 100px;
    }
}

#footpad{
  padding-top:80px;
  padding-bottom:80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align:center;
  background-color: #222222;
}

.footer > .text-muted {
  margin: 80px 0;
}
